<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="db" class="com.ttnd.Q1.Database">
        <property name="name" value="MySQL"></property>
        <property name="port" value="10910" ></property>
    </bean>



    <!--<bean id="expressTea" class="com.ttnd.Q3.ExpressTea"></bean>-->
    <!--<bean id="teaRestaurent" class="com.ttnd.Q3.Restaurent">-->
        <!--<property name="hotDrink">-->
            <!--<bean id="expressTeaRestaurent" class="com.ttnd.Q3.ExpressTea"></bean>-->
        <!--</property>-->
    <!--</bean>-->
    
    
    <bean id="complexBean" class="com.ttnd.Q5.Complex">
        <property name="list">
            <list>
                <value>Item1</value>
                <value>Item2</value>
                <value>Item2</value>
            </list>
        </property>

        <property name="set">
            <set>
                <value>value1</value>
                <value>value1</value>
                <value>value2</value>
                <value>value2</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="CPU" value="Central Processing Unit"/>
                <entry key="TTND" value="To The New Digital"/>
            </map>
        </property>
    </bean>

    <bean id="restaurent" class="com.ttnd.Q3.Restaurent" autowire="constructor">   </bean>
    <bean id="hotDrink1" class="com.ttnd.Q3.Tea"></bean>





</beans>