<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="db" class="com.ttnd.Database">
        <property name="name" value="MySQL"></property>
        <property name="port" value="10910" ></property>
    </bean>


    <bean id="tea" class="com.ttnd.Q3.Tea"></bean>
    <bean id="expressTea" class="com.ttnd.Q3.ExpressTea"></bean>
    <bean id="teaRestaurent" class="com.ttnd.Q3.Restaurent">
        <property name="hotDrink" ref="tea"></property>
    </bean>


</beans>